# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.attrs
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*fp-lib-table
*sym-lib-table
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*fp-info-cache

/NxtPX4_Pro_v1.00_Release/fp-info-cache
/NxtPX4_Pro_v1.00_Release/NxtPX4-backups/*.*
/NxtPX4_v1.0_Release/fp-info-cache
/NxtPX4_v1.0_Release/NxtPX4-backups/*.*

# Netlist files (exported from Eeschema)
/NxtPX4_v1.0_Release/*.net

# Autorouter files (exported from Pcbnew)
/NxtPX4_v1.0_Release/*.dsn
/NxtPX4_v1.0_Release/*.ses
/Backup


/NxtPX4_V1.0_Release/NxtPX4-backups
/NxtPX4_V1.0_Release/panel-backups
/NxtPX4_V1.0_Release/SCH_backup

/NxtPX4_Pro_V1.00_Release/NxtPX4-backups
/NxtPX4_Pro_V1.00_Release/panel-backups
/NxtPX4_Pro_V1.00_Release/SCH_backup
# Exported BOM files

/.vscode
*.DS_Store
